@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  font-family: "Wix Madefor Display", sans-serif;
  color: white;
}

body {
  background-image: url("./bg.webp");
  background-size: auto;
  background-repeat: no-repeat;
}

.sidebar {
  width: 10%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 20px;
  /*position: fixed;*/
  height: 100%;
  transition: background-color 1s;
}

.sidebar.active{
  background-color: #1a1a1a;
}

.sidebar button {
  background-color: #4440;
  color: white;
  border: none;
  /*//padding: 15px 20px;
  //margin: 5px 0;
  //width: 100%;*/
  text-align: left;
  cursor: pointer;
}

.sidebar button svg {
  width: 42px;
}

@media screen and (max-width:600px){
  .sidebar button svg{
    width: 32px;
  }
}

.content {
  /*//margin-left: 14%;*/
  width: 90%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.tab-home {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:600px) {
  .tab-home img {
    width: 240px !important;
    height: 240px !important;
  }
  
  .tab-home h1{
    font-size: 28px !important;
    text-align: center;
  }

  .tab-home p {
    text-align: center;
    font-size: 16px !important;
  }
}

.tab-about{
  width: 50%;
}

@media screen and (max-width:600px) {
  .tab-about {
    width: 85%;
    height: fit-content;
    overflow-y: auto;
  }
}

.tab-home img{
  width: 350px;
  height: 350px;
}

.tab-home h1{
  font-size: 3rem;
}

.tab-home p{
  font-size: 1.2rem;
}

.tab {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(.5, -.005, .2, 1);
  transition: left 1s;
}

.tab.active {
  left: 0;
}

.tab#tab2 {
  background-image: url("./bg2-3.webp");
  background-size: auto;
  background-repeat: no-repeat;
}

.tab#tab3 {
  background-image: url("./bg3-2.webp");
  background-size: auto;
  background-repeat: no-repeat;
}

.tab#tab4 {
  /*//background-image: url("./bg4.webp");*/
  background-color: #224;
  background-size: auto;
  background-repeat: no-repeat;
}

#tab4 img{
  width: 350px;
}

.contact{
  display: flex;
  gap: 24px;
}

.contact a{
  width: 80px;
}

@media screen and (max-width:600px) {
  .tab#tab4{
    
  }
  
  #tab4 img {
    width: 240px;
  }

  #tab4 h2 {
    text-align: center;
    font-size: 20px !important;
  }

  .contact a {
    width: 42px;
  }
}

.card {
  width: 20vw;
  height: 30vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:600px) {
  .card {
    height: 23vh;
  }
}

.thumbnail {
  width: 100%;
  height: 20vh;
  overflow: hidden;
  position: relative;
}

.thumbnail img {
  width: 100%;
  height: auto;
  transition: transform 3.5s ease;
}

.button-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.button {
  padding: 10px 20px;
  border: 2px solid #3498db;
  border-radius: 25px;
  background-color: transparent;
  color: #3498db;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #3498db;
  color: white;
}

.tabs-container {
  width: 75%;
  margin: 0 auto;
}

.tabs-buttons {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #aac5;
}

.tabs-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: border .8s;
}

.tabs-button:hover {
  border-bottom: 2px solid #aac;
}

.tabs-button.active {
  /*//background-color: #fff;*/
  border-bottom: 2px solid #aac;
}

.tabs-content {
  display: none;
  padding: 20px;
  /*//background-color: #fff;
  //border: 1px solid #ccc;*/
  border-top: none;
}

.tabs-content.active {
  display: block;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.skill {
  display: flex;
  align-items: center;
  /*background-color: #fff;*/
  padding: 15px;
  border-radius: 10px;
  /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
}

.skill img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.skill-info {
  width: 100%;
}

.skill-info p {
  font-size: 14px;
  margin-bottom: 5px;
}

.skill-text {
  display: flex;
  justify-content: space-between;
}

.skill-progress {
  width: 100%;
  background-color: #252242;
  border-radius: 10px;
  position: relative;
  height: 12px;
  overflow: hidden;
}

.skill-progress .progress-bar {
  height: 100%;
  background-color: #4d9e4f;
  border-radius: 10px;
}

.progress-percentage {
  font-size: 12px;
  color: #fff;
}

@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: 1fr;
  }
}